.Container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ProfileImg {
  color: var(--color-logo);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--color-logo);
  box-shadow: 0px 0px 10px rgba(var(--color-shadow-rgb), 0.5);
}

@media (max-width: 1920px) {
  .ProfileImg {
    width: calc(75px * 0.75);
    height: calc(75px * 0.75);
    border: calc(3px * 0.75) solid var(--color-logo);
  }
}
@media (max-width: 1300px) {
  .ProfileImg {
    width: calc(75px * 0.6);
    height: calc(75px * 0.6);
    border: calc(3px * 0.6) solid var(--color-logo);
  }
}
@media (max-width: 960px) {
  .ProfileImg {
    width: calc(75px * 0.5);
    height: calc(75px * 0.5);
    border: calc(3px * 0.5) solid var(--color-logo);
  }
}