.Container {
  margin: 50px;
  margin-top: -100px;
}
.NavigationContainer {
  display: flex;
  justify-content: center;
  gap: 89px;
  margin-top: 75px;
}
.NavigationButton {
  width: 150px;
  display: flex;
  justify-content: right;
  background-color: transparent;
  color: var(--color-text-primary);
  border: none;
  margin: 0 50px;
  font-family: var(--font-family-main);
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.NavigationButton:last-child {
  justify-content: left;
}
.NavigationButton:hover:not(:disabled) {
  color: var(--color-logo);
}
.NavigationButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  border-color: grey;
}

@media (max-width: 1920px) {
  .Container {
    margin: calc(50px * 0.75);
    margin-top: calc(-100px * 0.75);
  }
  .NavigationContainer {
    gap: calc(20px * 0.75);
    margin-top: calc(75px * 0.75);
  }
  .NavigationButton {
    margin: 0 calc(50px * 0.75);
    font-size: calc(18px * 0.75);
    width: calc(150px * 0.75);
  }
}
@media (max-width: 1300px) {
  .Container {
    margin: calc(50px * 0.6);
    margin-top: calc(-100px * 0.6);
  }
  .NavigationContainer {
    gap: calc(20px * 0.6);
    margin-top: calc(75px * 0.6);
  }
  .NavigationButton {
    margin: 0 calc(50px * 0.6);
    font-size: calc(18px * 0.6);
    width: calc(150px * 0.6);
  }
}
@media (max-width: 960px) {
  .Container {
    margin: calc(50px * 0.5);
    margin-top: calc(-100px * 0.5);
  }
  .NavigationContainer {
    gap: calc(20px * 0.5);
    margin-top: calc(75px * 0.5);
  }
  .NavigationButton {
    margin: 0 calc(50px * 0.5);
    font-size: calc(18px * 0.5);
    width: calc(150px * 0.5);
  }
}