.Logo {
    width: 220px;
    height: 240px;
    margin: 5vh 0;
    display: flex;
    align-items: center;
    padding-bottom: 5vh;
    border-bottom: 1px solid var(--separation-color);
}

.LogoSvg {
  width: 220px;
  height: auto;
}

.LogoSvg :global(.text) {
  color: var(--primary-text);
}

.LogoSvg :global(.logo) {
  color: var(--logo-color);
}

:global(body.menu-compact) .Logo,
:global(body.menu-compact) .Logo svg {
  width: 0;
}

:global(body.menu-extended) .Logo,
:global(body.menu-extended) .Logo svg {
  width: 175px;
}