.Logo {
    width: 220px;
    height: 240px;
    margin: 5vh 0;
    display: flex;
    align-items: center;
    padding-bottom: 5vh;
    border-bottom: 1px solid var(--separation-color);
}

.Logo img {
    width: 220px;
    height: auto;
}

:global(body.menu-compact) .Logo,
:global(body.menu-compact) .Logo img {
  width: 0;
}

:global(body.menu-extended) .Logo,
:global(body.menu-extended) .Logo img {
  width: 175px;
}