.SideBar {
    width: var(--size-menu);
    z-index: 100;
    height: 100%;
    background-color: var(--background-color);
    border-right: 1px solid var(--separation-color);
    margin-top: 0;
    position: fixed;
    flex-direction: column;
    display: flex;
    align-items: center;
}

body.menu-compact {
    --size-menu: 0px;
}
body.menu-extended {
    --size-menu: 250px; 
}

body.menu-compact .SideBar {
    border-right: 0
}
