.Container {
  margin: 50px;
  margin-top: -100px;
}

@media (max-width: 1920px) {
  .Container {
    margin: calc(50px * 0.75);
    margin-top: calc(-100px * 0.75);
  }
}
@media (max-width: 1300px) {
  .Container {
    margin: calc(50px * 0.6);
    margin-top: calc(-100px * 0.6);
  }
}
@media (max-width: 960px) {
  .Container {
    margin: calc(50px * 0.5);
    margin-top: calc(-100px * 0.5);
  }
}