.TopBar-box{
    z-index: 99;
    height: var(--size-top-bar);
    width: calc(100vw - var(--size-menu));
    margin-left: var(--size-menu);
    background-color: rgb(var(--primary-color));
    box-shadow: 0px 3px 10px var(--shadow-color);
    position: fixed;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: end; 
    border-bottom: 1px solid var(--separation-color);
  } 

.TopBar-Categorie {
    display: flex;
  }
  @media (max-width:1920px) {
    .TopBar-box{
      justify-content: space-between;
      box-shadow: 0px 2px 6px var(--shadow-color);
    }    
  }
