.ProfileEditorContainer {
    width: 400px;
    padding: 20px;
    font-family: var(--font-main);
    color: var(--primary-text);
    display: flex;
  }
.ProfileEditor {
  display: flex;
  gap:20px;
  align-items: center;
}

.ProfileImg {
  width: 75px;
  color: var(--logo-color);
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  border: 2.5px solid var(--logo-color);
}
.ProfileImg.editable,
.ProfileName.editable {
  cursor: pointer;
}

.InputEdit {
  display: none;
}
.AppContainer {
  display: flex;
  gap:7px;
  align-items: end;
  width: 250px;
  opacity: 0.9;
}
.AppLogo {
  width: 15px;
}
.AppTitle {
  font-size: 10px;
  text-transform: uppercase;
  font-family: var(--font-main);
  font-weight: var(--title-weight);
  letter-spacing: 2px;
}
.InputName {
    background-color: transparent;
    border: none;
    color: var(--primary-text);
    align-items: center;
    text-align: center;
    outline: none;
  }
.EditOption {
  background: none;
  padding-bottom: 7px;
  border: none;
  border-bottom: 1px solid var(--separation-color);
  color: var(--primary-text);
  text-align: center;
  cursor: pointer;
  font-family: var(--font-main);
  font-weight: var(--text-weight);
  font-size: 12px;
  transition: color 0.2s;
}
.EditOption:hover {
  color:var(--logo-color);
}
.EditOption:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
.EditContainer {
  position: absolute;
  background: var(--secondary-color);
  border-radius: 8px;
  padding: 7px 15px;
  z-index: 102;
  display: flex;
  gap:10px;
  flex-direction: column;
  box-shadow: -2px 5px 10px var(--shadow-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.034);
  border-left: 1px solid rgba(255, 255, 255, 0.034);
  margin-left: -35px;
  margin-top: -25px;
}

.NameContainer {
  display: flex;
  flex-direction: column;
  gap:5px;
  align-items: start;
}
.ProfileName {
    color: var(--logo-color);
    font-family: var(--font-main);
    font-weight: var(--little-title-weight );
    letter-spacing: 1px;
    font-size: 22px;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 100%;
  }
.EditContainerButton {
  height: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
}
.EditButton {
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  color: var(--primary-text);
  transition: color 0.2s;
}
.EditButton:hover {
  color: var(--logo-color);
}

@media (max-width:1920px) {
  .ProfileEditorContainer {
    width: 350px;
  }
  .ProfileImg {
    width: 65px;
    height: 65px;
  }
  .ProfileName {
    font-size: 20px;
  }
  .EditContainer {
    box-shadow: -1px 3px 5px var(--shadow-color);
  }
  .AppLogo {
    width: 13px;
  }

  .AppTitle {
    font-size: 9px;
  }
  .AppContainer {
    width: 220px;
  }
}

@media (max-width: 1200px) {
  .ProfileImg {
    width: 55px;
    height: 55px;
  }
  .ProfileEditorContainer {
    width: 300px;
  }

  .ProfileName {
    font-size: 18px;
  }
  .AppLogo {
    width: 12px;
  }

  .AppTitle {
    font-size: 8px;
  }
  .AppContainer {
    width: 180px;
  }
}