.OngletBoxSelect,
.OngletBox{
    width: 285px;
    margin-bottom: 4vh;
    display: flex;
    align-items: center;
    border-radius: 7px;
}
.OngletBoxSelect,
.OngletBox:hover {
    background-color: var(--secondary-color);
    box-shadow: -2px 5px 10px var(--shadow-color);
}

:global(body.menu-compact) .OngletBox,
:global(body.menu-compact) .OngletBoxSelect {
    width: 0;
    padding:0;
}
:global(body.menu-extended) .OngletBox{
    width: 210px;
}
:global(body.menu-extended) .OngletBoxSelect {
    width: 210px;
    box-shadow: -1px 3px 5px var(--shadow-color);
}


.Link {
    width: 100%;
    display: flex;
    text-decoration: none; 
    height: 100%;
    padding: 15px;
    align-items: center;
}

.Label {
    padding-left: 30px;
    color: var(--primary-text);
    font-size: 20px;
    font-weight: var(--main-title-weight);
    font-family: var(--font-main);
}

.LogoImg {
    width: 35px;
    height: auto;
}
.Logo {
    width: 30px;
    height: auto;
    color: var(--logo-color);
}

:global(body.menu-compact) .Logo,
:global(body.menu-compact) .LogoImg {
    width: 0;
}




:global(body.menu-compact) .Label {
    font-size: 0;
    padding-left: 0;
}
:global(body.menu-compact) .Link {
    padding: 0;
    
}
:global(body.menu-extended) .Label {
    font-size: 15px;
    padding-left: 10px;
}

