* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background-color: var(--color-background);
}

.MainPage {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.MainPage::-webkit-scrollbar {
  width: 12px;
  transition: all ease 0.3;
}
.MainPage::-webkit-scrollbar-track {
  background-color: rgba(var(--color-primary-rgb), 0.8);
  border-radius: 0 0 7px 7px;
}
.MainPage::-webkit-scrollbar-thumb {
  background-color: var(--color-logo);
  border-radius: 7px;
  cursor: grab;
  border: 2px solid var(--color-secondary);
}
.MainPage::-webkit-scrollbar-thumb:hover {
  background-color: rgba(153, 110, 53, 0.75);
}
.Space {
  height: 50px;
}
.CategorieTitle {
  margin: 0 50px 30px 50px;
  padding: 0px 30px;
  padding-bottom: 20px;
  font-family: var(--font-family-main);
  color: var(--color-text-primary);
  text-transform: uppercase;
  font-size: 25px;
  border-bottom: 5px solid var(--color-logo);
  font-weight: var(--bold);
  display: inline-block;
}

@media (max-width: 1920px) {
  .MainPage::-webkit-scrollbar {
    width: 10px;
  }
  .CategorieTitle {
    font-size: 23px;
    padding: 0px 20px;
    padding-bottom: 16px;
    border-bottom: 4px solid var(--color-logo);
  }
  .Space {
    height: 43px;
  }
}
@media (max-width: 1200px) {
  .MainPage::-webkit-scrollbar {
    width: 8px;
  }
  .CategorieTitle {
    font-size: 21px;
    padding: 0px 15px;
    padding-bottom: 12px;
    border-bottom: 3px solid var(--color-logo);
  }
  .Space {
    height: 36px;
  }
}
