.Container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ProfileImg {
  color: var(--logo-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--logo-color);
}

.Arrow {
    height: 18px;
    width: auto;
    color: var(--logo-color);
    margin-left: 4px;
}