.SettingsPage {
  padding: 0 50px;
}
.SettingsGroupe{
  border-radius: 20px;
  background-color: var(--secondary-color);
}
.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  height: 75px;
  
  /* box-shadow: -2px 5px 10px var(--shadow-color); */
  border-bottom: 2px solid var(--background-color) ;
}
.Settings-usage-time {
  font-family: var(--font-main);
  color: var(--primary-text);
  font-size: 15px;
  font-weight: var(--little-title-weight);
}
.Settings-profile-img {
  border-radius: 50%;
  height: 100px;
  width: auto;
  color: var(--logo-color);
  border: 2px solid var(--logo-color);
}
.ColorTheme-Button {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  width: 50px;
  height: 28px;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
}

/* enlève le padding du conteneur de l’aperçu */
.ColorTheme-Button::-webkit-color-swatch-wrapper {
  padding: 0;
}

/* rend l’aperçu rond */
.ColorTheme-Button::-webkit-color-swatch {
  border: 2px solid var(--separation-color);
  border-radius: 25px;
}


.profil {
  height: 130px
}

.profil:hover,
.theme:hover {
  opacity: 0.8;
  cursor: pointer;
}

.Settings-username {
  color:var(--logo-color);
  font-family: var(--font-main);
  font-weight: var(--little-title-weight);
  font-size:  25px;
}
.Settings-InfoUser {
  display: flex;
  align-items: center;
  gap:20px;
}
.Settings-ChevronIcon {
  color: var(--logo-color);
}
.setting-label {
  font-size: 20px;
  font-weight: var(--little-title-weight);
  color:var(--primary-text);
  font-family: var(--font-main);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background-color: var(--background-color);
  border-radius: 34px;
  box-shadow: -2px 5px 10px var(--shadow-color);
  position: absolute;
  cursor: pointer;
  inset: 0;
  transition: background-color 0.3s;
}

.slider .icon {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: var(--primary-text);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.3s;
  color: var(--background-color);
}

.switch input:checked + .slider {
  background-color: var(--logo-color);
}
.setting-item:last-child {
  border-bottom: none;
}
.switch input:checked + .slider .icon {
  left: 26px;
  background: var(--primary-text);
  color: var(--background-color);
}

.setting-item .buttons-wrapper {
  display: flex;
  gap: 15px;
}

.data-button {
  box-shadow: -2px 5px 10px var(--shadow-color);
  display: flex;
  align-items: center;
  padding: 10px 18px;
  gap:10px;
  font-size: 16px;
  background-color: var(--primary-text);
  color: var(--background-color);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-family: var(--font-main);
}

.data-button:hover {
  opacity: 0.8;
  background-color: var(--logo-color);
  transform: translateY(-2px);
}


@media (max-width: 1920px) {
  .SettingsGroupe {
    box-shadow: none;
    /* box-shadow: -1px 3px 5px var(--shadow-color); */
  }
  .data-button {
        box-shadow: none;
    /* box-shadow: -1px 3px 5px var(--shadow-color); */
  }
  .slider { 
        box-shadow: none;
    /* box-shadow: -1px 3px 2px var(--shadow-color); */
  }
}

.BackButton {
  color: var(--logo-color);
  margin: 30px;
  cursor: pointer;
}
.Settings-input-code {
  background-color: var(--background-color);
  border: 2px solid var(--logo-color);
  border-radius: 13px;
  padding: 10px 20px;
}