.Container {
  margin: 50px;
  margin-top: -100px;
}
.Title {
  font-family: var(--font-family-main);
  letter-spacing: 2px;
  color: var(--color-text-primary);
  font-size: 60px;
  font-weight: var(--bold);
  display: inline-block;
  line-height: 0.8;
  margin-bottom: 33px;
}
.ContainerProgress {
  width: 100%;
  height: 350px;
  border-radius: 25px;
  margin-bottom: 100px;
  overflow: hidden;
  position: relative;
}
.ContainerProgressCover {
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}
.ProgressCover {
  height: 350px;
  width: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}
.ProgressWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px;
  top: 0;
  left: 0;
  height: calc(100% - 100px);
  width: calc(100% - 100px);
  position: absolute;
}
.AnimeTitleProgress {
  font-family: var(--font-family-main);
  font-size: 35px;
  font-weight: var(--extra-bold);
  color: var(--color-text-secondary);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.EpisodeTitleProgress {
  font-family: var(--font-family-main);
  font-size: 30px;
  font-weight: var(--semi-bold);
  color: var(--color-text-primary);
  letter-spacing: 3px;
}
.DownloadProgress {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}

.PauseIcon {
  height: 50px;
  width: auto;
  color: var(--color-text-secondary);
}
.PauseIcon:hover {
  opacity: 0.5;
}
.ProgressBar {
  width: 100%;
  height: 15px;
  position: relative;
  background: var(--color-background);
  border-radius: 7.5px;
  transition: all ease 0.3s;
}
.CurrentProgressBar {
  height: 15px;
  position: absolute;
  background: var(--color-logo);
  border-radius: 7.5px;
  transition: all ease 0.3s;
}
.SecondLeft {
  width: 100px;
  font-family: var(--font-family-main);
  font-size: 35px;
  font-weight: var(--extra-bold);
  color: var(--color-text-primary);
  letter-spacing: 3px;
}
@media (max-width: 1920px) {
  .Container {
    margin: calc(50px * 0.75);
    margin-top: calc(-100px * 0.75);
  }
  .Title {
    letter-spacing: calc(2px * 0.75);
    font-size: calc(60px * 0.75);
    line-height: calc(0.8 * 0.75);
    margin-bottom: calc(33px * 0.75);
  }
  .ContainerProgress {
    height: calc(350px * 0.75);
    border-radius: calc(25px * 0.75);
    margin-bottom: calc(100px * 0.75);
  }
  
  .ProgressCover {
    height: calc(350px * 0.75);
  }
  .ProgressWrapper {
   
    margin: calc(50px * 0.75);
    height: calc(calc(100% - 100px) * 0.75);
    width: calc(calc(100% - 100px) * 0.75);
  }
  .AnimeTitleProgress {
    font-size: calc(35px * 0.75);
    letter-spacing: calc(2px * 0.75);
  }
  .EpisodeTitleProgress {
    font-size: calc(30px * 0.75);
    letter-spacing: calc(3px * 0.75);
  }
  .DownloadProgress {
    height: calc(50px * 0.75);
    gap: calc(50px * 0.75);
  }
  
  .PauseIcon {
    height: calc(50px * 0.75);
  }
  .ProgressBar {
    height: calc(15px * 0.75);
    border-radius: calc(7.5px * 0.75);
  }
  .CurrentProgressBar {
    height: calc(15px * 0.75);
    border-radius: calc(7.5px * 0.75);
  }
  .SecondLeft {
    width: calc(100px * 0.75);
    font-size: calc(35px * 0.75);
    letter-spacing: calc(3px * 0.75);
  }
}
@media (max-width: 1300px) {
  .Container {
    margin: calc(50px * 0.6);
    margin-top: calc(-100px * 0.6);
  }
  .Title {
    letter-spacing: calc(2px * 0.6);
    font-size: calc(60px * 0.6);
    line-height: calc(0.8 * 0.6);
    margin-bottom: calc(33px * 0.6);
  }
  .ContainerProgress {
    height: calc(350px * 0.6);
    border-radius: calc(25px * 0.6);
    margin-bottom: calc(100px * 0.6);
  }
  
  .ProgressCover {
    height: calc(350px * 0.6);
  }
  .ProgressWrapper {
   
    margin: calc(50px * 0.6);
    height: calc(calc(100% - 100px) * 0.6);
    width: calc(calc(100% - 100px) * 0.6);
  }
  .AnimeTitleProgress {
    font-size: calc(35px * 0.6);
    letter-spacing: calc(2px * 0.6);
  }
  .EpisodeTitleProgress {
    font-size: calc(30px * 0.6);
    letter-spacing: calc(3px * 0.6);
  }
  .DownloadProgress {
    height: calc(50px * 0.6);
    gap: calc(50px * 0.6);
  }
  
  .PauseIcon {
    height: calc(50px * 0.6);
  }
  .ProgressBar {
    height: calc(15px * 0.6);
    border-radius: calc(7.5px * 0.6);
  }
  .CurrentProgressBar {
    height: calc(15px * 0.6);
    border-radius: calc(7.5px * 0.6);
  }
  .SecondLeft {
    width: calc(100px * 0.6);
    font-size: calc(35px * 0.6);
    letter-spacing: calc(3px * 0.6);
  }
}
@media (max-width: 960px) {
  .Container {
    margin: calc(50px * 0.5);
    margin-top: calc(-100px * 0.5);
  }
  .Title {
    letter-spacing: calc(2px * 0.5);
    font-size: calc(60px * 0.5);
    line-height: calc(0.8 * 0.5);
    margin-bottom: calc(33px * 0.5);
  }
  .ContainerProgress {
    height: calc(350px * 0.5);
    border-radius: calc(25px * 0.5);
    margin-bottom: calc(100px * 0.5);
  }
  
  .ProgressCover {
    height: calc(350px * 0.5);
  }
  .ProgressWrapper {
   
    margin: calc(50px * 0.5);
    height: calc(calc(100% - 100px) * 0.5);
    width: calc(calc(100% - 100px) * 0.5);
  }
  .AnimeTitleProgress {
    font-size: calc(35px * 0.5);
    letter-spacing: calc(2px * 0.5);
  }
  .EpisodeTitleProgress {
    font-size: calc(30px * 0.5);
    letter-spacing: calc(3px * 0.5);
  }
  .DownloadProgress {
    height: calc(50px * 0.5);
    gap: calc(50px * 0.5);
  }
  
  .PauseIcon {
    height: calc(50px * 0.5);
  }
  .ProgressBar {
    height: calc(15px * 0.5);
    border-radius: calc(7.5px * 0.5);
  }
  .CurrentProgressBar {
    height: calc(15px * 0.5);
    border-radius: calc(7.5px * 0.5);
  }
  .SecondLeft {
    width: calc(100px * 0.5);
    font-size: calc(35px * 0.5);
    letter-spacing: calc(3px * 0.5);
  }
}
