.container {
  text-align: left;
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--third-color);
  overflow: hidden;
  user-select: none;
}

.container > * {
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container.hide-video video {
  opacity: 0;
}

video {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  cursor: none;
}

/* Loading Animation */
.loading {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  pointer-events: none;
  display: flex;
}

.loading > div {
  display: flex;
  margin: auto;
}

.loading > div > div {
  animation: toUpOpacity 1s linear infinite;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--logo-color);
  margin: auto 5px;
}

.loading > div > div:nth-child(2) {
  animation-delay: 0.1s;
}

.loading > div > div:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes toUpOpacity {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

/* Standby Info */
.standby-info {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 50px;
  transition: all 0.5s ease-out;
  opacity: 0;
  pointer-events: none;
}

.standby-info.show {
  opacity: 1;
}

.standby-info section {
  margin: auto 0;
  padding-top: 100px;
  padding-left: 100px;
}

.standby-info h3 {
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.standby-info h1 {
  font-weight: bold;
  text-align: left;
  font-size: 3em;
  color: var(--logo-color);
  margin: 25px 0;
}

.standby-info h2 {
  color: #fff;
  font-size: 20px;
  margin-top: -5px;
  font-weight: bold;
}

.standby-info footer {
  margin-top: auto;
  margin-bottom: 50px;
  margin-left: auto;
  text-transform: uppercase;
  color: #ffffff;
}

/* Video Pre Loading */
.video-pre-loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  transition: all 0.5s ease-out;
  z-index: 15;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.video-pre-loading header {
  pointer-events: auto; 
  z-index: 30; 
  position: relative; 
}
.video-pre-loading.show {
  z-index: 21;
  opacity: 1;
}

.video-pre-loading header {
  display: flex;
  color: #ffffff;
  align-items: center;
}

.video-pre-loading h1 {
  color: var(--primary-text);
  font-size: 1.5em;
  font-weight: bold;
}

.video-pre-loading h2 {
  color: var(--primary-text);
  font-size: 1.1em;
}

.video-pre-loading svg {
  color: var(--primary-text);
  opacity: 0.5;
  margin-left: auto;
  font-size: 4em;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.video-pre-loading svg:hover {
  transform: scale(1.2);
  opacity: 1;
}

.video-pre-loading section {
  text-align: center;
  color: #ddd;
  margin: auto;
  transition: all 0.2s ease;
  opacity: 0;
}

.video-pre-loading.error section {
  opacity: 1;
}

.video-pre-loading .links-error {
  display: inline-flex;
  margin: auto;
}

.video-pre-loading .links-error div {
  color: #ddd;
  background: #333;
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.video-pre-loading .links-error div:hover {
  background: #f78b28;
  color: #ddd;
}

.video-pre-loading h1 {
  font-size: 2em;
}

.video-pre-loading p {
  font-size: 1.5em;
  margin: 20px;
}

/* Controls */
.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.2s ease-out;
  padding: 10px;
  color: #fff;
  font-size: 1.5em;
  z-index: 20;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.7) 80%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
}

.controls.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.controls .back {
  margin-bottom: auto;
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
}

.controls .back div {
  display: flex;
  font-size: 20px;
  align-items: center;
  opacity: 0.3;
  transition: all 0.2s ease-out;
  overflow: hidden;
}

.controls .back span {
  margin-left: -100%;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.controls .back div:hover {
  opacity: 1;
  transform: translateX(-10px);
}

.controls .back div:hover span {
  margin-left: 0;
  opacity: 1;
}

.controls .back svg {
  font-size: 35px;
  margin-right: 5px;
}

.controls .line-reproduction {
  display: flex;
  margin-bottom: 10px;
}

.controls .line-reproduction input {
  margin: auto;
}

.controls .line-reproduction span {
  font-size: 14px;
  margin-left: 5px;
}


/* ALL BUTTONS BAR*/
.controls .controls-content { 
  margin: 10px 0;
  display: flex;
  justify-content: end;
}

.controls .end {
  margin-left: auto;
}

.controls .controls-content > div {
  display: flex;
  justify-items: center;
}

.controls  .item-control {
  position: relative;
  margin: 0 15px;
}
.info-video {
  user-select: none;
  display: flex;
  align-items: center;
}
.controls .info-video {
  font-size: 15px;
}

.controls .item-control .info-first {
  font-weight: bold;
  opacity: 1;
}

.controls .info-secund {
  font-weight: lighter;
  opacity: 0.5;
}

.item-control .IconSvg svg {
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.2s ease-out;
}
.item-control:hover .IconSvg svg {
  opacity: 1;
  transform: scale(1.2);
}

/* Progress Bar */
.progress-bar {
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  appearance: none;
  height: 3px;
  transition: height 0.2s ease-out;
  border-radius: 5px;
  background: linear-gradient(
    93deg,
    var(--logo-color) var(--progress),
    #fff var(--progress)
  );
  -webkit-appearance: none;
  -moz-appearance: none;
}

.progress-bar:focus {
  outline: none !important;
}

.progress-bar::-moz-focus-outer {
  border: 0;
}

.progress-bar::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--logo-color);
  cursor: grab;
  outline: none !important;
  border-color: transparent;
  border: 0 !important;
  box-shadow: none !important;
  box-sizing: none;
}

.progress-bar::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--logo-color);
  cursor: pointer;
  outline: none !important;
  border-color: transparent;
  border: 0 !important;
  box-shadow: none !important;
  box-sizing: none;
}

.progress-bar:hover {
  height: 5px;
}

/* Volume Control */
.volume-controller {
  display: flex;
  bottom: 70px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) rotate(-90deg);
}


.volume-controller .box {
  background: var(--background-color);
  padding: 10px 18px;
  display: flex;
  border-radius: 5px;
}

.volume-controller .box-connector {
  width: 20px;
  height: 20px;
}

.volume-controller input {
  border: none;
  appearance: none;
  height: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: #999;
  background: linear-gradient(
    93deg,
    var(--logo-color) var(--percentVolume),
    #fff var(--percentVolume)
  );
  width: 70px;
}

.volume-controller input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--logo-color);
  cursor: grab;
}

.volume-controller input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--logo-color);
}


.next-tooltip-container {
  position: relative;
  display: inline-block;
}

.next-tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(223, 45, 45, 0.8);
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  margin-bottom: 15px;
}

.next-tooltip::after {
  content: "";
  padding-bottom: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: rgba(223, 45, 45, 0.8) transparent transparent transparent;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Affichage au hover */
.next-tooltip:hover::before,
.next-tooltip:hover::after {
  opacity: 1;
}
.bold {
  font-weight: bold;
}

.item-list-reproduction-container {
  position: absolute;
  bottom: 40px;
  right: -20px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.item-list-reproduction-container > div:first-child {
  background: var(--logo-color);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}

.item-list-reproduction-container .bold {
  font-weight: bold;
}

.item-list-reproduction-container .title {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  color: #E6EAF0;
}

.item-list-reproduction-container .list-list-reproduction {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
}

/* Scrollbar styles */
.item-list-reproduction-container .list-list-reproduction::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

.item-list-reproduction-container .list-list-reproduction::-webkit-scrollbar {
  width: 8px;
}

.item-list-reproduction-container .list-list-reproduction::-webkit-scrollbar-thumb {
  background: var(--logo-color);
}

.item-list-reproduction-container .item-list-reproduction {
  background: var(--background-color);
  display: flex;
  flex-direction: row;
  font-size: 14px;
  padding: 10px;
  color:var(--primary-text);
  cursor: pointer;
  transition: all 0.2s ease-out;
  align-items: center;
}
.item-list-reproduction-container .selected,
.item-list-reproduction-container .item-list-reproduction:hover {
  background: var(--secondary-color);
}
.item-list-reproduction-container .item-list-reproduction .percent {
  height: 3px;
  width: 100px;
  margin-left: auto;
}

.item-list-reproduction-box .box-connector {
  position: absolute;
  bottom: 20px;
  height: 40px;
  width: 80px;
  right: -20px;
  border-radius: 0 0 100% 100%;
}
.settings-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-weight: var(--title-weight);
  font-size: 18px;
  color: var(--logo-color);
  margin-bottom: 15px;
}

.settings-menu-content {
  overflow-y: auto;
  max-height: calc(100% - 50px);
}

.close-button {
  background: none;
  border: none;
  color: var(--primary-text);
  font-size: 20px;
  cursor: pointer;
}

.close-button:hover {
  color: var(--logo-color);
}

.settings-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 3;
  cursor: pointer;
}

.settings-menu-slide {
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 350px;
  height: 100%;
  padding: 20px 0;
  background-color: var(--background-color);
  color: var(--primary-text);
  z-index: 4;
  box-shadow: -4px 0 10px var(--shadow-color);
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}


.SettingsMenuTop {
  font-family: var(--font-main);
  color: var(--primary-text);
  display: flex;
  padding: 20px;
}

.SettingsMenuTop-cover {
  display: flex;
  gap:20px;
  align-items: center;
}
.SettingsMenuTop-image {
  width: 60px;
  height: 60px;
  border-radius: 25%;
  object-fit: cover;
  border: 2px solid var(--logo-color);
}

.SettingsMenuTop-title {
  display: flex;
  flex-direction: column;
  gap:5px;
  padding-left: 10px;
  align-items: start;
  justify-content: center;
}

.SettingsMenuTop-animeTitle {
  color: var(--logo-color);
  font-family: var(--font-main);
  font-weight: var(--little-title-weight );
  letter-spacing: 1px;
  font-size: 15px;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 100%;
}
.SettingsMenuTop-subTitle {
  font-size: 10px;
  text-transform: uppercase;
  font-family: var(--font-main);
  font-weight: var(--title-weight);
  letter-spacing: 1.5px;
}

.SettingsMenuSources-list {
  margin: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}

.SettingsMenuSources-item {
  padding: 10px 16px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-text);
  border-radius: 8px;
  font-weight: var(--little-title-weight);
  width: calc(50% - 6px);
  box-shadow: -1px 3px 5px var(--shadow-color);
  transition: background 0.2s ease;
  user-select: none;
}

.SettingsMenuSources-item:hover {
  background-color: var(--third-color);
  transform: scale(1.05);
  cursor: pointer;
} 
.SettingsMenuSources-item.selected:hover {
  background-color: var(--logo-color);
  transform: scale(1);
  cursor:auto;
} 
.SettingsMenuSources-item.selected {
  background-color: var(--logo-color);
  color: #E6EAF0;
}

.SettingsMenuAvailableLanguages {
  margin: 30px 20px;
  display: flex;
  justify-content: space-around;
}
.SettingsMenuLanguageItem {
  display: inline-flex;
  flex-direction: row;
  opacity: 0.25;
  align-items: center;
  justify-content: center;
}
.SettingsMenuLanguageItem:hover {
  opacity: 0.7;
  cursor: pointer;
}
.SettingsMenuLanguageItem.selected:hover {
  cursor: auto;
}
.SettingsMenuLanguageItem-txt {
  font-size: 15px;
  margin-left: 7px;
  color: var(--primary-text);
  font-family: var(--font-main);
  font-weight: var(--little-title-weight);
}

.SettingsMenuLanguageItem-img {
  width: 60px;
  border: 2px solid var(--primary-text);
  border-radius: 10px;
  object-fit: cover;
}
.SettingsMenuLanguageItem.selected {
  opacity: 1;
}
.SettingsMenuLanguageItem-txt.selected {
  color: var(--logo-color);
}
.SettingsMenuLanguageItem-img.selected {
  border: 2px solid var(--logo-color)
}