.ScansContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    transition: width 0.2s ease;
}
.ScansPage {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.ImgScans {
    width: 100%;
}
.Test {
    color: white;
}