.CatalogContainer {
  padding: 70px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  background-color: var(--secondary-color);
  margin: 0 50px; 
  box-shadow: -2px 5px 10px var(--shadow-color);
}
.SearchContainer {
  display: flex;
  align-items: center;
  align-content: center;
  padding-bottom: 20px;
}
.SearchIcon {
  width: 40px;
  height: auto;
  color: var(--logo-color);
  padding-right: 10px;
}

.SearchBar {
  all:unset;
  text-transform: uppercase;
  background-color: var(--primary-color);
  padding: 5px;
  font-size: 30px;
  font-family: var(--font-main);
  width: 50vw; 
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  font-weight: var(--title-weight);
  letter-spacing: 0.5px;
  color: var(--primary-text);
  box-sizing: border-box;
  border-bottom: 5px solid var(--background-color);
}
.SearchBar:focus {
  border-bottom: 5px solid var(--logo-color); 
}
.ClearSearchIcon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 25px;
  user-select: none;
  color: var(--primary-text);
  transition: color 0.2s;
}
.ClearSearchIcon:hover {
  color: var(--logo-color);
}
.ResultsContainer {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px 30px;
  width: auto;
  max-width: 100%;
}
.ItemContainer { 
  border-radius: 10px;
  height: 325px;
  width: 250px;
  background-color: var(--background-color);
  border: 2px solid var(--logo-color);
  box-shadow: -2px 5px 10px var(--shadow-color);
  margin: 0;
}
.CoverContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--secondary-color);
  border-radius: 7px;
}
.Title {
  color: #E6EAF0;
  z-index: 1;
  position: absolute;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: var(--main-title-weight);
  text-align: center;
  opacity: 0.8; 
  font-family: var(--font-main);
  display: -webkit-box;          
  -webkit-line-clamp: 2;    
  line-clamp: 2;      
  -webkit-box-orient: vertical;   
  overflow: hidden;              
  text-overflow: ellipsis;        
  white-space: normal;         
  max-width: 90%;   
  margin-top: 75px;
}
.Img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;
    object-fit: cover;
    filter: brightness(40%);
    z-index: 0;
    border-radius: 7px;
}
.SeeButton {
  position: absolute;
  color: var(--primary-text); 
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--title-weight);
  font-family: var(--font-main);
  opacity: 0.95;
  border-radius: 10px;
  margin-top: 200px;
  font-size: 20px;
  padding: 10px 40px;
  background-color: var(--background-color);
  cursor: pointer;
  border: 2px solid var(--logo-color);
  box-shadow: -2px 5px 10px var(--shadow-color);
}
.SeeButton:hover {
  opacity: 1;
  background-color: var(--logo-color);
  color: #E6EAF0;
}
.ResultNone {
  margin: 0 50px;
  border-radius: 7px;
  padding: 70px 40px;
  background-color: var(--secondary-color);
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ResultNoneMessage {
  color: var(--primary-text);
  text-transform: uppercase;
  font-family: var(--font-main);
  font-size: 30px;
  font-weight: var(--title-weight);
}

.NavigationContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.NavigationButton {
  background-color: transparent;
  color: var(--primary-text);
  border: none;
  margin: 0px 50px;
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.NavigationButton:hover:not(:disabled) {
  color: var(--logo-color);
}
.NavigationButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  border-color: grey;
}

 
@media (max-width:1920px) {
  .CatalogContainer {
    padding: 50px 30px;
    box-shadow: -1px 3px 5px var(--shadow-color);
  }
  .SearchBar {
    font-size: 26px;
    height: 45px;
  }
  .ClearSearchIcon {
    font-size: 22px;
  }
  .ResultsContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 35px 25px;
  }
  .ItemContainer {
    height: 280px;
    width: 200px;
    box-shadow: -1px 3px 5px var(--shadow-color);
  }
  .Title {
    font-size: 18px;
    margin-top: 65px;
  }
  .SeeButton {
    margin-top: 180px;
    font-size: 18px;
    padding: 8px 35px;
    box-shadow: -1px 3px 5px var(--shadow-color);
  }
  .ResultNone {
    padding: 50px 30px;
    height: 280px;
  }
  .ResultNoneMessage {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .CatalogContainer {
    padding: 40px 20px
  }
  .SearchBar {
    font-size: 22px;
    height: 40px;
  }
  .ClearSearchIcon {
    font-size: 20px;
  }
  .ResultsContainer {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px 20px;
  }
  .ItemContainer {
    height: 250px;
    width: 180px;
  }
  .Title {
    font-size: 16px;
    margin-top: 55px;
  }
  .SeeButton {
    margin-top: 160px;
    font-size: 15px;
    border: 1.5px solid var(--logo-color);
    padding: 6px 30px;
  }
  .ResultNone {
    padding: 40px 20px;
    height: 250px;
  }
  .ResultNoneMessage {
    font-size: 22px;
  }
}
 