.SettingsPage {
  padding: 0 50px;
  margin-top: -100px;
}
.SettingsGroupe{
  border-radius: 20px;
  background-color: var(--color-secondary);
}
.SettingsTitle {
  font-family: var(--font-family-main);
  letter-spacing: 2px;
  color: var(--color-text-primary);
  font-size: 60px;
  font-weight: var(--bold);
  display: inline-block;
  line-height: 0.8;
  margin-bottom: 33px;
}
.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  height: 75px;
  
  /* box-shadow: -2px 5px 10px var(--color-shadow); */
  border-bottom: 2px solid var(--color-background) ;
}
.Settings-usage-time {
  font-family: var(--font-family-main);
  color: var(--color-text-primary);
  font-size: 15px;
  font-weight: var(--semi-bold);
}
.Settings-profile-img {
  border-radius: 50%;
  height: 100px;
  width: auto;
  color: var(--color-logo);
  border: 2px solid var(--color-logo);
}
.ColorTheme-Button {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  width: 50px;
  height: 28px;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
}

.ColorTheme-Button::-webkit-color-swatch-wrapper {
  padding: 0;
}

.ColorTheme-Button::-webkit-color-swatch {
  border: 2px solid var(--color-separation);
  border-radius: 25px;
}

.profil {
  height: 130px
}

.profil:hover,
.theme:hover {
  opacity: 0.8;
  cursor: pointer;
}

.Settings-username {
  color:var(--color-logo);
  font-family: var(--font-family-main);
  font-weight: var(--semi-bold);
  font-size:  25px;
}
.Settings-InfoUser {
  display: flex;
  align-items: center;
  gap:20px;
}
.Settings-ChevronIcon {
  color: var(--color-logo);
  height: 30px;
  width: 30px;
}
.setting-label {
  font-size: 20px;
  font-weight: var(--semi-bold);
  color:var(--color-text-primary);
  font-family: var(--font-family-main);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background-color: var(--color-background);
  border-radius: 34px;
  box-shadow: -2px 5px 10px var(--color-shadow);
  position: absolute;
  cursor: pointer;
  inset: 0;
  transition: background-color 0.3s;
}

.slider .icon {
  position: absolute;
  top: 50%;
  left: 2px;
  padding: 5px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: var(--color-text-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.3s;
  color: var(--color-background);
}

.switch input:checked + .slider {
  background-color: var(--color-logo);
}
.setting-item:last-child {
  border-bottom: none;
}
.switch input:checked + .slider .icon {
  left: 26px;
  background: var(--color-text-primary);
  color: var(--color-background);
}

.setting-item .buttons-wrapper {
  display: flex;
  gap: 15px;
}

.data-button {
  box-shadow: -2px 5px 10px var(--color-shadow);
  display: flex;
  align-items: center;
  padding: 10px 18px;
  gap:10px;
  font-size: 16px;
  background-color: var(--color-text-primary);
  color: var(--color-background);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-family: var(--font-family-main);
}

.data-button:hover {
  opacity: 0.8;
  background-color: var(--color-logo);
  transform: translateY(-2px);
}


.BackButton {
  color: var(--color-logo);
  margin: 30px;
  cursor: pointer;
}
.Settings-input-code {
  background-color: var(--color-background);
  border: 2px solid var(--color-logo);
  border-radius: 13px;
  padding: 10px 20px;
}

@media (max-width: 1920px) {
  .SettingsPage {
    padding: 0 calc(50px * 0.75);
    margin-top: calc(-100px * 0.75);
  }
  .SettingsGroupe{
    border-radius: calc(20px * 0.75);
  }
  .SettingsTitle {
    letter-spacing: calc(2px * 0.75);
    font-size: calc(60px * 0.75);
    line-height: calc(0.8 * 0.75);
    margin-bottom: calc(33px * 0.75);
  }
  .setting-item {
    padding: 0 calc(30px * 0.75);
    height: calc(75px * 0.75);
    border-bottom: calc(2px * 0.75) solid var(--color-background) ;
  }
  .Settings-usage-time {
    font-size: calc(15px * 0.75);
  }
  .Settings-profile-img {
    height: calc(100px * 0.75);
    border: calc(2px * 0.75) solid var(--color-logo);
  }
  .ColorTheme-Button {
    width: calc(50px * 0.75);
    height: calc(28px * 0.75);
    border-radius: calc(25px * 0.75);
  }
  .ColorTheme-Button::-webkit-color-swatch {
    border: calc(2px * 0.75) solid var(--color-separation);
    border-radius: calc(25px * 0.75);
  }
  .profil {
    height: calc(130px * 0.75)
  }
  
  .Settings-username {
    font-size: calc( 25px * 0.75);
  }
  .Settings-InfoUser {
    gap: calc(20px * 0.75);
  }
  .setting-label {
    font-size: calc(20px * 0.75);
  }
  
  .switch {
    width: calc(50px * 0.75);
    height: calc(28px * 0.75);
  }
  
  .Settings-ChevronIcon {
    height: calc(30px * 0.5);
    width: calc(30px * 0.5);
  }
  .slider {
    border-radius: calc(34px * 0.75);
    box-shadow: calc(-2px * 0.75) calc(5px * 0.75) calc(10px * 0.75) var(--color-shadow);
  }
  
  .slider .icon {
    left: calc(2px * 0.75);
    width: calc(24px * 0.75);
    height: calc(24px * 0.75);
    padding: calc(5px * 0.75);
  }
  
  .switch input:checked + .slider .icon {
    left: calc(26px * 0.75);
  }
  
  .setting-item .buttons-wrapper {
    gap: calc(15px * 0.75);
  }
  
  .data-button {
    box-shadow: calc(-2px * 0.75) calc(5px * 0.75) calc(10px * 0.75) var(--color-shadow);
    padding: calc(10px * 0.75) calc(18px * 0.75);
    gap: calc(10px * 0.75);
    font-size: calc(16px * 0.75);
    border-radius: calc(12px * 0.75);
  }
  
  .data-button:hover {
    transform: translateY(calc(-2px * 0.75));
  }
  
  .BackButton {
    margin: calc(30px * 0.75);
  }
  .Settings-input-code {
    border: calc(2px * 0.75) solid var(--color-logo);
    border-radius: calc(13px * 0.75);
    padding: calc(10px * 0.75) calc(20px * 0.75);
  }
}
@media (max-width: 1300px) {
  .SettingsPage {
    padding: 0 calc(50px * 0.6);
    margin-top: calc(-100px * 0.6);
  }
  .SettingsGroupe{
    border-radius: calc(20px * 0.6);
  }
  .SettingsTitle {
    letter-spacing: calc(2px * 0.6);
    font-size: calc(60px * 0.6);
    line-height: calc(0.8 * 0.6);
    margin-bottom: calc(33px * 0.6);
  }
  .setting-item {
    padding: 0 calc(30px * 0.6);
    height: calc(75px * 0.6);
    border-bottom: calc(2px * 0.6) solid var(--color-background) ;
  }
  .Settings-usage-time {
    font-size: calc(15px * 0.6);
  }
  .Settings-profile-img {
    height: calc(100px * 0.6);
    border: calc(2px * 0.6) solid var(--color-logo);
  }
  .ColorTheme-Button {
    width: calc(50px * 0.6);
    height: calc(28px * 0.6);
    border-radius: calc(25px * 0.6);
  }
  .ColorTheme-Button::-webkit-color-swatch {
    border: calc(2px * 0.6) solid var(--color-separation);
    border-radius: calc(25px * 0.6);
  }
  .profil {
    height: calc(130px * 0.6)
  }
  
  .Settings-username {
    font-size: calc( 25px * 0.6);
  }
  .Settings-InfoUser {
    gap: calc(20px * 0.6);
  }
  .setting-label {
    font-size: calc(20px * 0.6);
  }
  
  .switch {
    width: calc(50px * 0.6);
    height: calc(28px * 0.6);
  }
  
  
  .slider {
    border-radius: calc(34px * 0.6);
    box-shadow: calc(-2px * 0.6) calc(5px * 0.6) calc(10px * 0.6) var(--color-shadow);
  }
  
  .slider .icon {
    left: calc(2px * 0.6);
    width: calc(24px * 0.6);
    height: calc(24px * 0.6);
    padding: calc(5px * 0.6);
  }
  
  .switch input:checked + .slider .icon {
    left: calc(26px * 0.6);
  }
  
  .setting-item .buttons-wrapper {
    gap: calc(15px * 0.6);
  }
  
  .data-button {
    box-shadow: calc(-2px * 0.6) calc(5px * 0.6) calc(10px * 0.6) var(--color-shadow);
    padding: calc(10px * 0.6) calc(18px * 0.6);
    gap: calc(10px * 0.6);
    font-size: calc(16px * 0.6);
    border-radius: calc(12px * 0.6);
  }
  
  .data-button:hover {
    transform: translateY(calc(-2px * 0.6));
  }
  
  .BackButton {
    margin: calc(30px * 0.6);
  }
  .Settings-input-code {
    border: calc(2px * 0.6) solid var(--color-logo);
    border-radius: calc(13px * 0.6);
    padding: calc(10px * 0.6) calc(20px * 0.6);
  }
}
@media (max-width: 960px) {
  .SettingsPage {
    padding: 0 calc(50px * 0.5);
    margin-top: calc(-100px * 0.5);
  }
  .SettingsGroupe{
    border-radius: calc(20px * 0.5);
  }
  .SettingsTitle {
    letter-spacing: calc(2px * 0.5);
    font-size: calc(60px * 0.5);
    line-height: calc(0.8 * 0.5);
    margin-bottom: calc(33px * 0.5);
  }
  .setting-item {
    padding: 0 calc(30px * 0.5);
    height: calc(75px * 0.5);
    border-bottom: calc(2px * 0.5) solid var(--color-background) ;
  }
  .Settings-usage-time {
    font-size: calc(15px * 0.5);
  }
  .Settings-profile-img {
    height: calc(100px * 0.5);
    border: calc(2px * 0.5) solid var(--color-logo);
  }
  .ColorTheme-Button {
    width: calc(50px * 0.5);
    height: calc(28px * 0.5);
    border-radius: calc(25px * 0.5);
  }
  .ColorTheme-Button::-webkit-color-swatch {
    border: calc(2px * 0.5) solid var(--color-separation);
    border-radius: calc(25px * 0.5);
  }
  .profil {
    height: calc(130px * 0.5)
  }
  
  .Settings-username {
    font-size: calc( 25px * 0.5);
  }
  .Settings-InfoUser {
    gap: calc(20px * 0.5);
  }
  .setting-label {
    font-size: calc(20px * 0.5);
  }
  
  .switch {
    width: calc(50px * 0.5);
    height: calc(28px * 0.5);
  }
  
  
  .slider {
    border-radius: calc(34px * 0.5);
    box-shadow: calc(-2px * 0.5) calc(5px * 0.5) calc(10px * 0.5) var(--color-shadow);
  }
  
  .slider .icon {
    left: calc(2px * 0.5);
    width: calc(24px * 0.5);
    height: calc(24px * 0.5);
    padding: calc(5px * 0.5);
  }
  
  .switch input:checked + .slider .icon {
    left: calc(26px * 0.5);
  }
  
  .setting-item .buttons-wrapper {
    gap: calc(15px * 0.5);
  }
  
  .data-button {
    box-shadow: calc(-2px * 0.5) calc(5px * 0.5) calc(10px * 0.5) var(--color-shadow);
    padding: calc(10px * 0.5) calc(18px * 0.5);
    gap: calc(10px * 0.5);
    font-size: calc(16px * 0.5);
    border-radius: calc(12px * 0.5);
  }
  
  .data-button:hover {
    transform: translateY(calc(-2px * 0.5));
  }
  
  .BackButton {
    margin: calc(30px * 0.5);
  }
  .Settings-input-code {
    border: calc(2px * 0.5) solid var(--color-logo);
    border-radius: calc(13px * 0.5);
    padding: calc(10px * 0.5) calc(20px * 0.5);
  }
}