.List {
    top:var(--size-top-bar);
    right: 0;
    height: 300px;
    position: absolute;
    overflow-y: auto; 
    background-color: var(--secondary-color);
    border-bottom-left-radius: 8px;
    box-shadow: -2px 5px 10px var(--shadow-color);
    z-index: 100;
    min-width: 200px;
    height: auto;
    max-height: 415px;
  }


  .List::-webkit-scrollbar {
    width: 12px;
  }
  .List::-webkit-scrollbar-track {
    background-color: rgba(var(--primary-color), 0.8);
    border-radius: 0 0 7px 7px;
  }
  .List::-webkit-scrollbar-thumb {
    background-color: var(--logo-color);
    border-radius: 7px;
    cursor: grab;
    border: 2px solid var(--secondary-color);
  }
  .List::-webkit-scrollbar-thumb:hover {
    background-color: rgba(153, 110, 53, 0.75);
  }
    .Logo {
    height: auto;
    width: 30px;
    color: var(--logo-color);
    margin-right: 40px ;
  }
  .Logo:hover {
    cursor: pointer;
  }

  .Item {
    border-top: 3px solid var(--logo-color);
    border-radius: 8px;
    padding: 10px ;
    padding-left: 20px;
    width: 425px;
    text-align: start;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }
  .Item:hover{
    background-color: var(--logo-color);
  }
  .EpisodeTitle,
  .AnimeTitle {
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden; 
    width: 315px;
    font-size: 16px;
    font-family: var(--font-main);
    font-weight: var(--title-weight);
    text-align: left; 
    text-overflow: ellipsis;
    padding-left: 20px;
    color:var(--primary-text);
  }
  .EpisodeTitle {
    text-transform:none;
    -webkit-line-clamp: 1; 
    opacity: 0.5; 
    font-style: italic;
    font-size: 15px;
  }

  .Cover {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -2px 5px 10px var(--shadow-color);
  }

  @media (max-width:1920px) {
    .Item {
      border-top: 2px solid var(--logo-color);
      padding: 8px ;
      padding-left: 16px;
      width: 375px;
    }
    .EpisodeTitle,
    .AnimeTitle {
      width: 265px;
      font-size: 15px; 
      padding-left: 16px;
    }
    .EpisodeTitle {
      font-size: 13px;
    }
    .Cover {
      box-shadow: -1px 3px 5px var(--shadow-color);
      width: 65px;
      height: 65px;
    }
  }
  .LogoBox {
    display: flex;
    align-items: center;
  }
  
  @keyframes fadeIn {
  to {
    opacity: 1;
  }
}