.Container {
  position: fixed;
  top: calc(-40px);
  left: 0;
  width: 100%;
  padding-left: 25px;
  height: 40px;
  background: var(--color-background);
  border-bottom: 1px solid var(--color-separation);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s ease;
  z-index: 9999;
}
.RightButtons {
  display: flex;
  flex-direction: row;
}
.Container.visible {
  top: 0;
}
.InputContainer {
  width: calc(100vw/1.75);
  position: relative;
}
.InputPrefix {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none; /* pour ne pas bloquer la saisie */
  font-size: 0.9em;
}

.Input {
  width: 100%;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  background: none;
  color: var(--color-text-primary);
}
.InputContainer:hover,
.InputContainer:focus {
  background-color: #b5a38b;
  border-radius: 6px;
  opacity: 0.8;
}
.InputContainer:focus .Input,
.InputContainer:hover .Input {
  color: #FFF;
}
.ShareButton {
  position: absolute;
  color: #FFF;
  height: 20px;
  width: auto;
  margin: 4px;
  cursor: pointer;
  right:20px;
  display: none;
}
.ShareButton:hover {
  color: var(--color-logo);
}

.InputContainer:hover .ShareButton,
.InputContainer:focus .ShareButton{
  display: inline-block;
}
.ActionButtons {
  display: flex;
  align-items: center;
  gap: 2px;
  padding-left:25px;
  padding-right: 5px;
}
.ActionButtons:first-child {
  gap: 10px;
  padding-right:25px;
  border-right: 1px solid var(--color-separation);
}
.ContainerNavigation {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.Arrow {
  color: var(--color-text-primary);
  height: 9px;
  width: auto;
}
.Left {
  transform: rotate(90deg); 
}
.Right {
  transform: rotate(-90deg);
}

.ContainerButton {
  width: 39px;
  height:39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.ContainerButton:hover {
  background-color: var(--color-secondary);

}
.Button {
  color: var(--color-text-primary);
  height: 17px;
  width: auto;
}



.ActionButtons:last-child .ContainerButton:last-child:hover {
  background: var(--color-logo);
}
.ActionButtons:last-child .ContainerButton:last-child:hover .Button  {
  color: var(--color-text-primary);
}

