.Container {
  position: fixed;
  top: calc(-1 * var(--size-top-bar));
  left: 0;
  width: 100%;
  padding-left: 25px;
  height: var(--size-top-bar);
  background: var(--background-color);
  border-bottom: 1px solid var(--separation-color);
  color: #d1d7e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s ease;
  z-index: 9999;
}

.Container.visible {
  top: 0;
}
.InputContainer {
  width: calc(100vw/1.75);
  position: relative;
}
.Input {
  width: 100%;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  background: none;
  color: var(--primary-text);
}
.InputContainer:hover,
.InputContainer:focus {
  background-color: #b5a38b;
  opacity: 1;
  border-radius: 6px;
  opacity: 0.8;
}
.InputContainer:focus .Input,
.InputContainer:hover .Input {
  color: #FFF;
}
.ShareButton {
  position: absolute;
  color: #FFF;
  height: 20px;
  width: auto;
  margin: 4px;
  cursor: pointer;
  right:20px;
  display: none;
}
.ShareButton:hover {
  color: var(--logo-color);
}

.InputContainer:hover .ShareButton,
.InputContainer:focus .ShareButton{
  display: inline-block;
}
.ActionButtons {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 0 4px;
}

.ContainerButton {
  width: calc(var(--size-top-bar)*0.8);
  height: calc(var(--size-top-bar)*0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Button {
  color: var(--primary-text);
  height: 21px;
  width: auto;
}

.ContainerButton:hover {
  background-color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
}
.ContainerButton:hover .Button  {
  color: var(--logo-color);
}
.ContainerButton:last-child:hover {
  background: var(--logo-color);
  border-radius: 4px;
  cursor: pointer;
}
.ContainerButton:last-child:hover .Button  {
  color: var(--primary-text);
}