.Container {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
}

.Title {
  display: inline-block;
  white-space: nowrap;
  transform: translateX(0);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%; 
}
.ScrollableTitle {
  width: auto;         
}

.Container:hover .ScrollableTitle {
  text-overflow: unset; 
  overflow: visible;
  animation: scroll-text var(--scroll-duration) linear forwards;
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--scroll-distance));
  }
}

