.SearchContainer {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 20px;
  }

  
  .SearchBar {
    all:unset;
    text-transform: uppercase;
    background-color: var(--primary-color);
    padding: 0 8px;
    font-size: 16px;
    font-family: var(--font-main);
    width: 175px; 
    border-radius: 8px;
    height: 40px;
    font-weight: var(--title-weight);
    letter-spacing: 0.5px;
    color: var(--primary-text);
    box-sizing: border-box;
    border: 2px solid transparent;
  }
  .Cover {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -2px 5px 10px var(--shadow-color);
  }
  .SearchBar::placeholder {
    color: var(--primary-text);
  }
  .SearchBar:focus {
    border: 2px solid var(--logo-color); 
    box-shadow: 0 0 5px var(--logo-color); 
  }

  .ResultContainer {
    background-color: rgba(var(--primary-color), 0.6);
    right: 0;
    top:var(--size-top-bar);
    position: fixed;
    flex-direction: column;
    border-radius: 8px;
  }

  .Logo {
    cursor: pointer;
    width: 30px;
    height: auto;
    color: var(--logo-color);
    margin-right: 10px;
    opacity: 1;
  }
  .Logo.hide {
    opacity: 0;
    width: 0;
  }

  .Item {
    border-top: 3px solid var(--logo-color);
    border-radius: 8px;
    padding: 10px ;
    padding-left: 20px;
    width: 425px;
    text-align: start;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }
  .Item:hover{
    
    background-color: var(--logo-color);
  }
  .EpisodeTitle,
  .AnimeTitle {
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden; 
    width: 315px;
    font-size: 16px;
    font-family: var(--font-main);
    font-weight: var(--title-weight);
    text-align: left; 
    text-overflow: ellipsis;
    padding-left: 20px;
    color:var(--primary-text);
  }
  .EpisodeTitle {
    text-transform:none;
    -webkit-line-clamp: 1; 
    opacity: 0.5; 
    font-style: italic;
    font-size: 15px;
  }

  @media (max-width:1920px) {
    .Item {
      border-top: 2px solid var(--logo-color);
      padding: 8px ;
      padding-left: 16px;
      width: 375px;
    }
    .EpisodeTitle,
    .AnimeTitle {
      width: 265px;
      font-size: 15px; 
      padding-left: 16px;
    }
    .EpisodeTitle {
      font-size: 13px;
    }
    .Cover {
      width: 65px;
      height: 65px;
      box-shadow: -1px 3px 5px var(--shadow-color);
    }
  }

  .LogoBox {
    display: flex;
    align-items: center;
  }