  .SelectSeason {
    margin-left:50px;
    padding: 10px 15px;
    background-color: var(--secondary-color);
    color: var(--primary-text);
    border: 2px solid transparent;
    width: 150px;
    border-radius: 8px;
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: var(--button-weight);
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .SelectSeason:focus {
    border-color: var(--logo-color);
  }
  .SingleSeasonTitle {
    width: fit-content;
    border-radius: 8px;
    background-color: var(--secondary-color);
    margin-left:50px;
    border: 2px solid transparent;
    margin-top: 10px;
    padding: 10px 15px;
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: var(--button-weight);
    color: var(--primary-text);
  }
  .EpisodeAll {
    padding: 70px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    background-color: var(--secondary-color);
    margin: 0 50px; 
    box-shadow: -2px 5px 10px var(--shadow-color);
  }
  .EpisodesList {
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px 35px;
    width: auto;
    max-width: 100%;
  }
  
  .EpisodeItem {
    cursor: pointer;
    width: 200px;
    height: 125px;
    margin: 0;
    border-radius: 8px;
    box-shadow: -2px 5px 10px var(--shadow-color);
    background-color: #13151C;
    border: 2px solid var(--logo-color);
  }

  .EpisodeItem h2 {
    font-size: 21px;
    display: -webkit-box;          
    -webkit-line-clamp: 2;          
    -webkit-box-orient: vertical;   
    overflow: hidden;              
    text-overflow: ellipsis;        
    white-space: normal;         
    max-width: 80%;   
  }


  .EpisodeItem-img {
    -webkit-user-drag: none;
    opacity: 0.3;
    
    border-radius: 7px;
  }

  .AnimeInfoText h1,
  .AnimeInfoText h2,
  .AnimeInfoText h3{
    font-size: 17px;
    font-family: var(--font-main);
    font-weight: var(--text-weight);
    color: var(--primary-text);
    
  }
  .AnimeInfoText h1 {
    text-transform: uppercase;
    font-style: italic;
    margin: 0 50px 20px 50px;
    opacity: 0.5;
  }
  .AnimeInfoText h2 {
    text-align: justify;
    opacity: 0.8;
  }

  .InfoBox {
    max-width: calc(100vw - var(--size-menu));
    background-color: var(--secondary-color);
    padding: 40px;
    margin: 0 50px ;
    border-radius: 7px;
    box-shadow: -2px 5px 10px var(--shadow-color);
  }

  @media (max-width: 1600px) {
    .EpisodeAll {
      padding: 50px 30px;
      box-shadow: -1px 3px 5px var(--shadow-color);
    }
    .EpisodesList {
      gap: 24px 28px ;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
    .EpisodeItem {
      width: 180px;
      box-shadow: -1px 3px 5px var(--shadow-color);
      height: 113px;
    }
    .EpisodeItem h2 {
      font-size: 19px;
    }
    .InfoBox {
      box-shadow: -1px 3px 5px var(--shadow-color);
      padding: 35px;
    }
    .AnimeInfoText h1,
    .AnimeInfoText h2,
    .AnimeInfoText h3{
      font-size: 15px;
    }
  }
  @media (max-width: 1200px) {
    .SelectSeason {
      padding: 8px 13px;
      width: 150px;
      font-size: 14px;
    }
    .SingleSeasonTitle {
      padding: 8px 13px;
      font-size: 14px;
    }
    .EpisodeAll {
      padding: 40px 20px;
      
    }
    .EpisodesList {
      gap: 18px 21px ;
      grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
    }
    .EpisodeItem {
      width: 165px;
      height: 104px;
    }
    .EpisodeItem h2 {
      font-size: 17px;
    }
    .InfoBox {
      padding: 30px;
    }
    .AnimeInfoText h1,
    .AnimeInfoText h2,
    .AnimeInfoText h3{
      font-size: 13px;
    }
  }

