.ThemeContainer {
    z-index: 1;
    position: fixed; 
    top:var(--size-top-bar);
    right: 0;
    background-color: var(--secondary-color);
    height: calc(100% - var(--size-top-bar));
    width: 15%;
    box-shadow: 0 0 20px var(--shadow-color);
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.BackButton {
  color: var(--primary-text);
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.BackButton:hover {
  color: var(--logo-color);
}
.Title {
    font-size: 16px;
    font-family: var(--font-main);
    font-weight: var(--main-title-weight);
    color: var(--primary-text);
}
.TopContainer {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.ItemContainer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 15px;
}
.TitleItem {
    font-family: var(--font-main);
    font-size: 15px;
    color: var(--primary-text);
    opacity: 0.8;
    font-weight: var(--little-title-weight);
}
.AspectContainer {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    background-color: var(--background-color);
    border-radius: 7px;
    border: 1px solid var(--separation-color);
    gap: 4px;
    padding: 4px;
}

.AspectItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 7px;
    border: 1px solid transparent;
}
.AspectItem:hover {
    background-color: var(--secondary-color);
}

.AspectItem.Selected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 7px;
    border: 1px solid var(--separation-color);
}
.NameAspectContainer {
    position: absolute;
    top:83px;
    background-color: var(--background-color);
    padding: 10px;
    font-size: 14px;
    border-radius: 7px;
    border: 1px solid var(--separation-color);
    font-family: var(--font-main);
    font-weight: var(--main-text-weight);
    box-shadow: -2px 5px 10px var(--shadow-color);
    color: var(--primary-text);
    opacity: 0;
}
.AspectItem:hover .NameAspectContainer {
    opacity: 1;
}
.AspectIcon {
    width: 20px;
    height: 20px;
    margin: 10px auto;
}
.ItemTitleContainer {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 15px;
}

.ColorPicker :global(.react-colorful) {
    width: 100%;
    height: 200px;
}
.ColorToolsContainer {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    background-color: var(--secondary-color);
    border-radius: 7px;
    border: 1px solid var(--separation-color);
    gap: 4px;
    padding: 10px;
    gap:10px
}
.ActiveColor {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--separation-color);
}
.HexInput {
    all: unset;
    font-size: 16px;
    letter-spacing: 0.5px;
    width: 80%;
    text-transform: uppercase;
    font-family: monospace;
}
.PipetteButton {
    width: 17px;
    height: 17px;
    color: var(--primary-text);
    cursor: pointer;
}
.PipetteButton:hover {
    color: var(--logo-color);
}
.SaveButton {
    color: #E6EAF0;
    background-color: var(--logo-color);
    text-align: center;
    padding: 10px;
    font-family: var(--font-main);
    font-size: 15px;
    font-weight: var(--little-title-weight);
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    border-radius: 7px;
    margin: 0 10%;
    width: 80%;
    cursor: pointer;
}
.SaveButton:hover {
    opacity: 0.9;
}