
.EpisodeNavigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .NavigationButton {
    padding: 10px;
    background-color:var(--primary-text);
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  
  }
  
  .NavigationButton:hover {
    background-color:  var(--logo-color);
  }
  
  .NavigationButton:disabled {
    background-color: var(--secondary-color);
    cursor: not-allowed;
  }