/*css global*/
:root {
    --logo-color: #996e35;     
    --primary-color: 3, 5, 8; 
    --secondary-color: #13151C;      
    --background-color: #0B0C10;     
    --separation-color:#424242;
    --primary-text:#D1D7E0 ;
    --shadow-color:#05060A ;
    --size-menu:325px;
    --size-top-bar:75px;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: var(--background-color);                    
  }
  

  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: bold;
  }


.MainPage {
  overflow-y: auto; 
  margin-left:var(--size-menu); 
  margin-top: var(--size-top-bar);
  width:calc(100vw - var(--size-menu));
  height: calc(100vh - var(--size-top-bar)); 
  position: fixed;
}

.CategorieTitle{
    color: white;
    user-select: none;
    padding: 30px;
    font-family: "Montserrat", sans-serif;
    text-align:center;
    font-size: 40px;
    font-weight: bold;
}


/* Bannière pour le menu et les saisons */
.AnimeCover {
  cursor: pointer;
  margin: 0;
  margin-bottom: 50px;
  width: auto;
  height: calc(100vw /3.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.AnimeCover h2{
  position: absolute;
  color: var(--primary-text);
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.AnimeCover-img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid var(--separation-color);
}


.EpisodeNavigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.NavigationButton {
  padding: 10px;
  background-color:var(--primary-text);
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

}

.NavigationButton:hover {
  background-color:  var(--logo-color);
}

.NavigationButton:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}
.LoaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  color: white;
}

.Spinner {
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-top: 8px solid #ff5e5e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}


