/*css du menu bar*/
.MenuBar-box {
    user-select: none;
    width: var(--size-menu);
    height: 100%;
    background-color: var(--background-color);
    border-right: 1px solid var(--separation-color);
    margin-top: 0;
    position: fixed;
    flex-direction: column;
    display: flex;
    align-items: center;

}
.logo {
    width: 220px;
    height: auto;
    margin: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid var(--separation-color);
}
.Onglet-box a {
    width: 100%;
    display: flex;
    text-decoration: none; 
    height: 100%;
    align-items: center;
}
.Onglet-box-select{
    background-color: var(--secondary-color);
    border-radius: 7px;
    box-shadow: 0px 0px 10px var(--shadow-color);
}
.Onglet-box-select,
.Onglet-box{
    width: 285px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
}
.Onglet-box-select p,
.Onglet-box p {
    padding-left: 30px;
    color: var(--primary-text);
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
.Onglet-box-select img,
.Onglet-box img {
    width: 35px;
}

.CategorieTitleHome {
    margin-left: 80px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    color:var(--primary-text);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;

}


@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }


  @media (max-width: 1200px) {
    :root {
        --size-menu: 100px;
    }
    .Onglet-box-select,
    .Onglet-box{
        width: 65px;
        display: flex;
        align-items: center;
    }
    .Onglet-box-select p,
    .Onglet-box p {
        padding-left: 0;
        font-size: 0;
    }
    .logo {
        width: 65px;
    }
  }