.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f00;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.Container h1 {
    font-size: 100px;
}
.Container p {
    font-size: 30px;
    color: rgb(255, 60, 60);
    cursor: pointer;
}
.Container p:hover {
    opacity: 0.75;
}